<main class="text-center py-5">
  <h1 class="display-4">You are logged in as admin</h1>
  <p class="lead">Other users cannot see this page or see the navigation to it</p>
  <p class="small text-light">Try creating a user to see how it looks as a normal user</p>
</main>