<main class="text-center py-5">
  <h1 class="display-4">Welcome to my mock project!</h1>
  <p class="lead">Sign up and log in to test the authorization functionality</p>
  <p class="small text-light">Sign up as admin: admin@admin.com, pwd: admin to see how being an admin changes the layout</p>
</main>